body
{
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(170, 145, 194);
    margin: 0;
    padding: 0.5cm;

}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #DDD ;
    margin: 0 auto;
}